.dashboard {
  width: 80%;
  margin: 100px auto;
  max-width: 720px;
  border-radius: 2px;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #fff;
  min-height: 100vh;
}

.dashBoardTitle {
  text-align: center;
}
